@font-face {
  font-family: BigJohn;
  src: url("../fonts/BigJohn.otf");
}

@font-face {
  font-family: SlimJoe;
  src: url("../fonts/SlimJoe.otf");
}

#wish-body {
  /*background: none !important;*/
  background: -webkit-linear-gradient(rgba(37, 37, 37, 0.78), #bdb4b4);
  background: linear-gradient(rgba(37, 37, 37, 0.78), #bdb4b4);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#upload-image {
  /*  display:none;*/
}

.take-picture-icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 200px;
  cursor: pointer;
}

.take-picture-icon:hover {
  -webkit-animation-name: picture-hover;
  animation-name: picture-hover;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes picture-hover {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes picture-hover {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.polaroid {
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  width: 400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 25px;
  padding-bottom: 100px;
}

.polaroid div {
  width: 350px;
  max-height: 450px;
  overflow: hidden;
}

.polaroid img {
  width: 350px;
}

.polaroid-big {
  background-color: #fafafa;
  position: relative;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  width: 550px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 25px;
  padding-bottom: 100px;
}

.polaroid-big div.inner-polaroid {
  width: 500px;
  max-height: 550px;
  overflow: hidden;
}

.polaroid-big img {
  width: 500px;
}

.settings-area {
  width: 550px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.ui-icon-gripsmall-diagonal-se {
  right: -15px !important;
  bottom: -15px !important;
}

.polaroid-taken {
  -webkit-animation-name: picture-taken;
  animation-name: picture-taken;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dynamic-text-main {
  min-width: 50px;
  min-height: 50px;
  top: 25px;
  left: 25px;
  position: absolute !important;
  border: 4px dashed #bdbdbd;
  color: white;
  overflow: visible;
}

.dynamic-text-footer {
  min-width: 50px;
  min-height: 50px;
  left: 80%;
  top: 70%;
  position: absolute !important;
  border: 4px dashed #bdbdbd;
  color: white;
}

@-webkit-keyframes picture-taken {
  0% {
    -webkit-transform: rotate(0deg) scale(1.2);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-10deg) scale(1);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(-10deg) scale(1);
    opacity: 1;
  }
}

@keyframes picture-taken {
  0% {
    -webkit-transform: rotate(0deg) scale(1.2);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-10deg) scale(1);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(-10deg) scale(1);
    opacity: 1;
  }
}

.confirmation-img {
  width: 300px;
  margin: 0 auto;
}

.confirmation-img h2 {
  width: 100%;
  text-align: center;
  color: white;
}

.confirmation-img div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.seperation-line {
  margin-top: 15px;
  margin-bottom: 50px;
}

.seperation-line h2 {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #9c4778;
  line-height: 0em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0 20px;
  color: white;
}

.seperation-line h2 span {
  background: #9c4778;
  padding: 15px;
  border-radius: 50%;
}

.mySlides {
  background-color: #fafafa;
  max-width: 300px;
  padding: 25px;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.slideShow {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.slideShow button {
  color: white;
  border: none;
  font-size: 3em;
  background: none;
}

@media (min-width: 501px) and (max-width: 768px) {
  .step-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
  .options-content-name p:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .settings-area {
    width: 100%;
  }
  .inner-polaroid {
    width: 270px !important;
  }
  .polaroid-big {
    padding-bottom: 50px;
    width: 320px;
  }
  .polaroid-big div.inner-polaroid {
    width: 270px;
    max-height: 290px;
  }
  .polaroid-big img {
    width: 270px;
  }
  .step-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
  .mySlides {
    max-width: 200px;
  }
  #take-picture-icon {
    width: 150px;
  }
  .slideShow {
    width: 100%;
  }
  .polaroid {
    width: 300px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 25px;
    padding-bottom: 100px;
  }
  .polaroid div {
    width: 250px;
    max-height: 350px;
    overflow: hidden;
  }
  .polaroid img {
    width: 250px;
  }
}

#upload-image {
  display: none;
}

#take-picture-icon {
  margin: 0 auto;
}

.center-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.loading-overlay {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 25px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.loading-overlay div {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

.loading-overlay img {
  width: 25px;
}

.options-wrapper-wish, .options-wrapper-name {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.options-wrapper-wish p, .options-wrapper-name p {
  padding: 5px;
  margin-bottom: 0;
  color: white;
  background-color: #9c4778;
  width: 100%;
}

.options-wrapper-wish p span, .options-wrapper-name p span {
  float: right;
}

.options-content-wish, .options-content-name {
  color: white;
  border-left: 1px solid #9c4778;
  border-right: 1px solid #9c4778;
  border-bottom: 1px solid #9c4778;
  padding-bottom: 25px;
  padding-top: 15px;
}

.options {
  color: white;
}

.hidden {
  display: none;
}

#nameTextColor, #wishTextColor, #nameTextAlign, #wishTextAlign, #wishTextFont, #nameTextFont {
  padding: 0;
  width: 100%;
  height: 30px;
}

#nameTextAlign, #wishTextAlign, #wishTextFont, #nameTextFont {
  padding: 5px;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 4px solid #562b42;
  padding: 15px;
  margin-top: 15px;
  background: none;
  color: white;
}

.form-control:focus {
  outline: none;
}

.submit-wish {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  padding: 25px;
  border: none;
  background-color: #6b2c5c;
  color: white;
  font-weight: bold;
  font-size: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submit-wish:hover {
  background-color: #562b42;
}

.step-wrapper {
  background-color: rgba(0, 0, 0, 0.51);
  border: 2px solid black;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  border-radius: 15px;
  padding: 15px;
  margin-top: 35px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.step-wrapper .step-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.step-wrapper .step-number {
  background: #9c4778;
  color: white;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.step-wrapper .step-title {
  color: white;
  font-weight: bold;
  padding: 5px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.title-theme-1 {
  background-color: #9c4778;
  margin-top: 25px;
  margin-bottom: 25px;
}

.default-margin {
  margin-bottom: 35px;
}

.btn-theme-1 {
  background-color: #9c4778;
  border: none;
  padding: 15px;
  color: white;
  font-weight: bold;
  min-width: 80px;
  border: 4px solid #9c4778;
}

select {
  color: black;
}

.overflowVisible {
  overflow: visible !important;
}

.cookieError {
  text-align: center;
}

.cookieError div {
  color: white;
  margin-bottom: 30px;
}

.endImage {
  /*  transition: 1s;*/
}

.fastCorrection {
  z-index: 10;
  -webkit-transition: 0s;
  transition: 0s;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.endImage {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-blow-end {
  padding: 0;
  color: white;
  position: relative;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  margin-top: 10%;
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes wiggle {
  0% {
    margin-top: 10%;
  }
  50% {
    margin-top: 15%;
  }
  100% {
    margin-top: 10%;
  }
}

@keyframes wiggle {
  0% {
    margin-top: 10%;
  }
  50% {
    margin-top: 15%;
  }
  100% {
    margin-top: 10%;
  }
}

.preset-title {
  text-align: center;
  color: white;
  background-color: #9c4778;
}

.preset-container {
  margin-top: 70px;
}

.preset-container-inner {
  padding: 15px;
  background-color: #7088cf;
  font-size: 1.5em;
  color: white;
}

.preset-container-inner button {
  background: none;
  border: none;
}

.preset-container-inner .choose-preset {
  float: right;
  display: -webkit-box;
  display: flex;
}

.preset-container-inner:nth-child(odd) {
  background-color: #4e5f9c;
}

.inputs-new-preset {
  margin-top: 15px;
  padding: 15px;
}

.inputs-new-preset form {
  margin: 0 auto;
  text-align: center;
}

.inputs-new-preset form input[type=text], .inputs-new-preset form input[type=number] {
  border: none;
  border-bottom: 4px solid  #9c4778;
  padding: 15px;
  margin-top: 15px;
  background: none;
  color: white;
}

.inputs-new-preset form input[type=text]:focus, .inputs-new-preset form input[type=number]:focus {
  outline: none;
}

.preset-calibrate {
  text-align: center;
}

.preset-calibrate h1 {
  color: white;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-img-wrapper {
  text-align: center;
  height: 700px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-img-wrapper h1 {
  text-align: left;
  font-size: 6em;
  line-height: 70px;
  color: white;
  font-weight: bold;
  width: 50%;
  margin-left: 250px;
  margin-top: 150px;
}

.home-img-wrapper a {
  background-color: #9c4778;
  border: none;
  padding: 15px;
  color: white;
  font-weight: bold;
  min-width: 80px;
  font-size: 2em;
  border: 4px solid #9c4778;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.home-img-wrapper a:hover {
  background-color: #763b57;
  border: 4px solid  #763b57;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.home-steps {
  position: relative;
  margin-top: -100px;
  background: none;
  border: none;
  box-shadow: none;
}

.home-steps .step-number {
  width: 180px;
  height: 180px;
  font-size: 3em;
  box-shadow: inset 5px 5px 300px -119px black;
  background-color: #9c4778;
  border: 4px solid white;
}

.home-steps .step-title {
  font-size: 2.5em;
  color: #9c4778;
  letter-spacing: -1px;
}

.overview-img {
  width: 100%;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
}

.index-image {
  margin-top: 30px;
}

.index-images-title h2 {
  font-size: 3em;
  text-align: center;
}

.index-images-wrapper {
  margin-bottom: 40px;
  color: white;
}

.end-wrapper {
  max-height: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.end-wrapper p {
  font-size: 4em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.title-custom div {
  color: white !important;
}

.top-bar {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.top-bar a, .top-bar button {
  display: inline-block;
  float: left;
  margin-right: 5px;
}

.notfound-page {
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
}

.block {
  float: left;
  margin-bottom: 25px;
  width: calc(33.33% - 17px);
  opacity: 0;
}

.block .block img {
  width: 100%;
  height: auto;
}

.insta-logo {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  width: 300px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@media screen and (max-width: 500px) {
  .block {
    width: 100%;
    opacity: 0;
  }
  .home-steps {
    width: 100%;
    margin-top: -55px;
  }
  .home-steps .step-number {
    width: 80px;
    height: 80px;
  }
  .home-steps .step-title {
    font-size: 1.2em;
    color: #9c4778;
    letter-spacing: -1px;
  }
  .home-img-wrapper {
    text-align: center;
    height: 600px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .home-img-wrapper h1 {
    text-align: center;
    font-size: 3em;
    line-height: 40px;
    padding: 5px;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .home-img-wrapper a {
    background-color: #9c4778;
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    min-width: 80px;
    font-size: 2em;
    border: 4px solid #9c4778;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .home-img-wrapper a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media (min-width: 501px) and (max-width: 1300px) {
  .block {
    width: 100%;
    opacity: 0;
  }
  .home-img-wrapper {
    text-align: center;
    height: 700px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .home-img-wrapper h1 {
    text-align: left;
    font-size: 4.8em;
    line-height: 60px;
    color: white;
    font-weight: bold;
    width: 90%;
    margin-left: 15px;
    margin-top: 50px;
  }
  .home-img-wrapper a {
    background-color: #9c4778;
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    min-width: 80px;
    font-size: 1.8em;
    border: 4px solid #9c4778;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .home-img-wrapper a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .home-steps {
    position: relative;
    margin-top: -80px;
  }
  .home-steps .step-number {
    width: 120px;
    height: 120px;
    font-size: 2.8em;
  }
  .home-steps .step-title {
    font-size: 2em;
    color: #9c4778;
    letter-spacing: -1px;
  }
}

@media (min-width: 501px) and (min-width: 768px) {
  .index-images-wrapper:nth-child(3n+1) {
    clear: both;
  }
}

/*# sourceMappingURL=app.css.map */
