@font-face {
  font-family: BigJohn;
  src: url("../fonts/BigJohn.otf");
}

@font-face {
  font-family: SlimJoe;
  src: url("../fonts/SlimJoe.otf");
}

html {
  background: -webkit-linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

body {
  background: none !important;
}

#upload-image {
  /*  display:none;*/
}

.take-picture-icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 200px;
  cursor: pointer;
}

.take-picture-icon:hover {
  -webkit-animation-name: picture-hover;
  animation-name: picture-hover;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes picture-hover {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes picture-hover {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.polaroid {
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  width: 400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 25px;
  padding-bottom: 100px;
}

.polaroid div {
  width: 350px;
  max-height: 450px;
  overflow: hidden;
}

.polaroid img {
  width: 350px;
}

.polaroid-big {
  background-color: #fafafa;
  position: relative;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  width: 550px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 25px;
  padding-bottom: 100px;
}

.polaroid-big div.inner-polaroid {
  width: 500px;
  max-height: 550px;
  overflow: hidden;
}

.polaroid-big img {
  width: 500px;
}

.settings-area {
  width: 550px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.ui-icon-gripsmall-diagonal-se {
  right: -15px !important;
  bottom: -15px !important;
}

.polaroid-taken {
  -webkit-animation-name: picture-taken;
  animation-name: picture-taken;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dynamic-text-main {
  min-width: 50px;
  min-height: 50px;
  top: 25px;
  left: 25px;
  position: absolute !important;
  border: 4px dashed #bdbdbd;
  color: white;
  overflow: visible;
}

.dynamic-text-footer {
  min-width: 50px;
  min-height: 50px;
  left: 80%;
  top: 70%;
  position: absolute !important;
  border: 4px dashed #bdbdbd;
  color: white;
}

@-webkit-keyframes picture-taken {
  0% {
    -webkit-transform: rotate(0deg) scale(1.2);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-10deg) scale(1);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(-10deg) scale(1);
    opacity: 1;
  }
}

@keyframes picture-taken {
  0% {
    -webkit-transform: rotate(0deg) scale(1.2);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-10deg) scale(1);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(-10deg) scale(1);
    opacity: 1;
  }
}

.confirmation-img {
  width: 300px;
  margin: 0 auto;
}

.confirmation-img h2 {
  width: 100%;
  text-align: center;
  color: white;
}

.confirmation-img div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.seperation-line {
  margin-top: 15px;
  margin-bottom: 50px;
}

.seperation-line h2 {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid #5764a3;
  line-height: 0em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0 20px;
  color: white;
}

.seperation-line h2 span {
  background: #5764a3;
  padding: 15px;
  border-radius: 50%;
}

.mySlides {
  background-color: #fafafa;
  max-width: 300px;
  padding: 25px;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.slideShow {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.slideShow button {
  color: white;
  border: none;
  font-size: 3em;
  background: none;
}

@media (min-width: 501px) and (max-width: 768px) {
  .step-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
  .options-content-name p:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .settings-area {
    width: 100%;
  }
  .inner-polaroid {
    width: 270px !important;
  }
  .polaroid-big {
    width: 320px;
  }
  .polaroid-big .div.inner-polaroid {
    width: 270px;
  }
  .polaroid-big img {
    width: 270px;
  }
  .step-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
  .mySlides {
    max-width: 200px;
  }
  #take-picture-icon {
    width: 150px;
  }
  .slideShow {
    width: 100%;
  }
  .polaroid {
    width: 300px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 25px;
    padding-bottom: 100px;
  }
  .polaroid div {
    width: 250px;
    max-height: 350px;
    overflow: hidden;
  }
  .polaroid img {
    width: 250px;
  }
}

#upload-image {
  display: none;
}

#take-picture-icon {
  margin: 0 auto;
}

.center-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.loading-overlay {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 25px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.loading-overlay div {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

.loading-overlay img {
  width: 25px;
}

.options-wrapper-wish, .options-wrapper-name {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.options-wrapper-wish p, .options-wrapper-name p {
  padding: 5px;
  margin-bottom: 0;
  color: white;
  background-color: #373e6e;
  width: 100%;
}

.options-wrapper-wish p span, .options-wrapper-name p span {
  float: right;
}

.options-content-wish, .options-content-name {
  color: white;
  border-left: 1px solid #373e6e;
  border-right: 1px solid #373e6e;
  border-bottom: 1px solid #373e6e;
  padding-bottom: 25px;
  padding-top: 15px;
}

.options {
  color: white;
}

.hidden {
  display: none;
}

#nameTextColor, #wishTextColor, #nameTextAlign, #wishTextAlign, #wishTextFont, #nameTextFont {
  padding: 0;
  width: 100%;
  height: 30px;
}

#nameTextAlign, #wishTextAlign, #wishTextFont, #nameTextFont {
  padding: 5px;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 4px solid #5764a3;
  padding: 15px;
  margin-top: 15px;
  background: none;
  color: white;
}

.form-control:focus {
  outline: none;
}

.submit-wish {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  padding: 25px;
  border: none;
  background-color: #5764a3;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.step-wrapper {
  background-color: rgba(0, 0, 0, 0.51);
  border: 2px solid black;
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  border-radius: 15px;
  padding: 15px;
  margin-top: 35px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.step-wrapper .step-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.step-wrapper .step-number {
  background: #5764a3;
  color: white;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.step-wrapper .step-title {
  color: white;
  font-weight: bold;
  padding: 5px;
}

.title-theme-1 {
  background-color: #373e6e;
  margin-top: 25px;
  margin-bottom: 25px;
}

.default-margin {
  margin-bottom: 35px;
}

.btn-theme-1 {
  background-color: #5764a3;
  border: none;
  padding: 15px;
  color: white;
  font-weight: bold;
  min-width: 80px;
}

select {
  color: black;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=app.css.map */
