@font-face {
  font-family: BigJohn;
  src: url("../fonts/BigJohn.otf");
}

@font-face {
  font-family: SlimJoe;
  src: url("../fonts/SlimJoe.otf");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 5%;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}

.container .steps {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
}

.container .steps .wishit, .container .steps .blowit, .container .steps .instait {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  font-family: BigJohn;
  color: #243477;
}

.container .steps .wishit img, .container .steps .blowit img, .container .steps .instait img {
  width: 80%;
}

.container .steps .wishit p, .container .steps .blowit p, .container .steps .instait p {
  text-align: center;
  font-size: 1.5em;
}

.container .button-container {
  width: 80%;
}

.container .button-container a {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 3px solid #243477;
  text-decoration: none;
  font-family: BigJohn;
  font-size: 3em;
  color: black;
  text-align: center;
}

.container .wish-enter {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}

.container .wish-enter form {
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 70%;
  height: 40%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.container .wish-enter form input#wish, .container .wish-enter form input#name {
  width: 60%;
  border: none;
  border-bottom: none;
  box-sizing: border-box;
  text-align: center;
  font-family: SlimJoe;
  font-size: 1.5em;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
}

.container .wish-enter form input#wish:focus, .container .wish-enter form input#name:focus {
  border-bottom: 1px solid black;
  outline: none;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
}

.container .wish-enter form input#name {
  width: 20%;
  margin-top: 10px;
}

.container .wish-enter form .button-wish {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 20%;
  height: 40px;
  border: 3px solid #243477;
  text-decoration: none;
  font-family: BigJohn;
  font-size: 24px;
  color: black;
  background-color: transparent;
}

.container .wish-enter .instaWish {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  width: 400px !important;
  height: 400px !important;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: -50;
  font-family: arial, sans-serif;
}

.container .wish-enter .instaWish h1 {
  word-wrap: break-word;
  width: 80%;
  text-align: center;
  font-family: BigJohn;
}

.container .wish-enter .instaWish h3 {
  text-align: right;
  width: 80%;
  font-family: SlimJoe;
}

.container .wish-blow {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 5%;
  -webkit-animation: arrow 2s infinite;
  animation: arrow 2s infinite;
}

@-webkit-keyframes arrow {
  0% {
    padding-top: 5%;
  }
  50% {
    padding-top: 10%;
  }
  100% {
    padding-top: 5%;
  }
}

@keyframes arrow {
  0% {
    padding-top: 5%;
  }
  50% {
    padding-top: 10%;
  }
  100% {
    padding-top: 5%;
  }
}

.container .wish-blow img {
  width: 20%;
}

.container .wish-blow .text {
  font-family: BigJohn;
  font-size: 4em;
  color: #243477;
  text-align: center;
}

.container .wish-blow .blowdiv {
  position: absolute;
  width: 70%;
  height: 40%;
  z-index: 10;
  margin-top: 0;
  left: 50%;
  top: 30%;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.container .wish-blow .blowdiv .blowdiv-inner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: -50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.container .wish-blow .blowdiv .blowdiv-inner h2, .container .wish-blow .blowdiv .blowdiv-inner p {
  border: none;
  border-bottom: none;
  box-sizing: border-box;
  text-align: center;
  font-family: SlimJoe;
  font-size: 1.5em;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
}

.container .wish-blow .blowdiv .blowdiv-inner p {
  padding-bottom: 100px;
}

.container .wish-end {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}

.container .wish-end .text {
  font-family: BigJohn;
  font-size: 7em;
  color: #243477;
}

.container .wish-end .instaWish {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  width: 500px !important;
  height: 500px !important;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: -50;
  top: 50%;
  font-family: arial, sans-serif;
}

.container .wish-end .instaWish h1 {
  word-wrap: break-word;
  text-shadow: 2px 2px #292728 !important;
  padding-top: 15px;
}

.container .wish-end .instaWish h3 {
  text-shadow: 2px 2px #292728;
  text-align: right;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
