@import url('https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light');

$shadow: 'Shadows Into Light', cursive;
$raleway: 'Raleway', sans-serif;
$primary-text-color: white;

$theme-color-1: #292729;
$theme-color-2: #FFF;

$break-large: 1240px;
$break-small: 475px;

html, body {
	width: 100%;
	height: 100vh;
	min-width: 390px;
	background-image: url("../images/background_home.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	overflow: hidden;
}

canvas {
	position: absolute;
	width: 80%!important;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 80%;
	height: 10%;
	background: $theme-color-1;
  	box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2),0px 40px 70px 0px rgba(0, 0, 0, 0.22);

	.inner-nav {
		width: 90%;

		ul {
			display: flex;
			flow-direction: row;
			justify-content: space-between;
	
			width: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				a {
					font-family: $shadow;
					font-size: 30px;
					text-decoration: none;
					color: $primary-text-color;
					letter-spacing: 0;
					
					position: relative;
					text-transform: uppercase;
				
					&:after {
						display: block;
					  	position: absolute;
					  	left: 0;
					  	bottom: -2px;
					  	width: 0;
					  	height: 1px;
					  	background-color: $primary-text-color;
					  	content: "";
					  	transition: width 0.2s;
					}	

					&:hover:after {
						width: 100%;
					}
				}
			}
		}
	}
}

.container {
	width: 80%;
	height: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;

	.inner-container {
		width: 100%;
		height: 80%;
		background-color: $theme-color-1;
		box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2),0px 40px 70px 0px rgba(0, 0, 0, 0.22);

		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		.inner-container-left, .inner-container-right {
			display: flex;
			flex: 1 0 30%;
			margin: 3%;
			background-color: $theme-color-2;
			box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2),0px 40px 70px 0px rgba(0, 0, 0, 0.22);
			border-radius: 5px;
			z-index: 10;
		}

		.inner-container-left {

			.explanation {
				width: 100%;
				padding: 5%;

				font-family: $raleway;
				font-size: 30px;
			}
		}

		.inner-container-right {
			flex-direction: column;
			justify-content: space-between;

			.wish {
				flex: 1;	
				border-bottom: 1px $theme-color-1 solid;

				.quote-box {
					box-sizing: border-box;

					padding: 5%;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.quote-text {
						i {
							font-size: 1.0em;
							margin-right: 0.4em;
						}
						width: 100%;
						font-family: $raleway;
						font-size: 30px;
					}
					.quote-author {
						font-family: $raleway;
						font-style: italic;
						padding-top:20px;
						font-size:1em; 
						text-align:right;
					}
				}					
			}
		}

		.card {
			display: flex;
			flex: 0 0 300px;
			background-color: $theme-color-2;
			margin: 2%;
			box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2),0px 40px 70px 0px rgba(0, 0, 0, 0.22);
			border-radius: 5px;
			position: relative;

			@media screen and (max-width: 815px) {
				margin: 4%;
			}

			.card_handle {
				position: absolute;
				height: 50px;
				width: 50px;

				left: 118px;
				top: -25px;

				border-radius: 50%;
				border: 6px solid $primary-text-color;
			}

			.card_text {
				display: flex;
				flex: 1;

				z-index: 10;

				.quote-box {
					box-sizing: border-box;

					padding: 5%;
					width: 100%;
					display: flex;
					flex: 1;
					flex-direction: column;
					justify-content: space-between;

					.quote-text {
						i {
							font-size: 1.0em;
							margin-right: 0.4em;
						}
						width: 100%;
						font-family: $raleway;
						font-size: 30px;
					}
					.quote-author {
						font-family: $raleway;
						font-style: italic;
						padding-top:20px;
						font-size:1em; 
						text-align:right;
					}
				}
			}
		}
	}

	.pagination {
		width: 100%;
		background-color: $theme-color-1;
		display: flex;
		justify-content: center;

		@media screen and (max-width: 815px) {
			padding-bottom: 5%;
		}

		ul {
			width: 20%;
			margin: 1%;
			padding: 0;

			display: flex;
			justify-content: space-around;

			li {
				list-style-type: none;
				width: 10%;

				display: flex;
				justify-content: center;

				&:hover {
					a {
						font-size: 24px;
						transition: font-size 0.2s;
					}					
				}

				a {
					position: absolute;
					text-decoration: none;
					color: black;
					font-family: $raleway;
					font-size: 18px;
					transition: font-size 0.2s;

					color: $primary-text-color;
				}
			}

			.active span, .disabled span {
				text-decoration: none;
				color: $primary-text-color;
				font-family: $raleway;
				font-size: 18px;
			}
		}
	}
}

.blowdiv{
  position: absolute;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
background: linear-gradient(to top, rgba(255,255,255,0)0%, rgba(255,255,255,1) 50%);
  width: 100%;
  height: 200%;
  z-index: 10;
  margin-top: 0;
}
// Variables
@import "variables";

@import "shame";