@font-face {
	font-family: BigJohn;
	src: url('../fonts/BigJohn.otf');
}

@font-face {
	font-family: SlimJoe;
	src: url('../fonts/SlimJoe.otf');
}

$fontBig: BigJohn;
$fontSmall: SlimJoe;
$primary-text-color: #243477;

$drop-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2),0px 40px 70px 0px rgba(0, 0, 0, 0.22);

$theme-color-1: #292729;
$theme-color-2: #FFF;

$break-large: 1240px;
$break-medium: 850px;
$break-small: 475px;

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	display: flex;

	flex-direction: column;
}

nav {
	display: flex;

	justify-content: center;
	align-items: center;

	padding-bottom: 5%;
}

.container {
	display: flex;

	flex: 1;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	.steps {
		display: flex;

		flex-direction: row;
		justify-content: space-around;
		
		padding: 2%;

		.wishit, .blowit, .instait {
			display: flex;

			flex: 1;
			flex-direction: column;
			align-items: center;

			font-family: $fontBig;

			color: $primary-text-color;

			img {
				width: 80%;
			}

			p {
				text-align: center;

				font-size: 1.5em;
			}
		}
	}

	.button-container {
		width: 80%;

		a {	
			width: 100%;
			height: 50px;

			padding-top: 10px;
			padding-bottom: 10px;

			display: flex;

			justify-content: center;
			align-items: center;

			border: 3px solid $primary-text-color;
			text-decoration: none;
			font-family: $fontBig;
			font-size: 3em;
			color: black;

			text-align: center;
		}
	}

	.wish-enter {
		width: 100%;
		height: 100%;

		position: relative;

		display: flex;

		flex-direction: column;

		justify-content: space-around;
		align-items: center;		

		form {
			background-repeat: no-repeat;
			background-size: 80%;
			background-position: center;

			width: 70%;
			height: 40%;	

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			input#wish, input#name {
				width: 60%;

				border: none;
				border-bottom: none;


				box-sizing: border-box;

				text-align: center;

				font-family: $fontSmall;
				font-size: 1.5em;

				transition: border-bottom 0.4s;

				&:focus {
					border-bottom: 1px solid black;
					outline: none;

					transition: border-bottom 0.4s;
				}
			}

			input#name {
				width: 20%;
				margin-top: 10px;
			}

			.button-wish {
				position: absolute;
				
				top: 35%;
				right: 10%;

				width: 20%;
				height: 40px;

				border: 3px solid $primary-text-color;
				text-decoration: none;
				font-family: $fontBig;
				font-size: 24px;
				color: black;
				background-color: transparent;
			}
		}

		.instaWish {
			display: flex;

			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			width: 400px !important;
			height: 400px !important;
			overflow:hidden;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			color: white;
			z-index: -50;

			font-family: arial, sans-serif;

			h1 {
				word-wrap: break-word;
				width: 80%;
				text-align: center;
				font-family: $fontBig;
			}

			h3 {
				text-align: right;
				width: 80%;
				font-family: $fontSmall;
			}
		}
	}

	.wish-blow {
		width: 100%;
		height: 100%;

		display: flex;

		flex-direction: column;

		justify-content: space-between;
		align-items: center;
		padding-top: 5%;
		animation: arrow 2s infinite;

		@keyframes arrow {
			0% { padding-top: 5%; }
			50% { padding-top: 10%; }
			100% { padding-top: 5%; }
		}

		img {
			width: 20%;
		}

		.text {
			font-family: $fontBig;
			font-size: 4em;
			color: $primary-text-color;
			text-align: center;
		}

		.blowdiv{
			position: absolute;
			width: 70%;
			height: 40%;
			z-index: 10;
			margin-top: 0;
			left: 50%;
			top: 30%;
			opacity: 1;
			transition: 1s;

			.blowdiv-inner {
				position:relative;
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				width: 100%;
				left: -50%;

				display: flex;

				justify-content: center;
				align-items: center;

				flex-direction: column;

				h2, p {

					border: none;
					border-bottom: none;


					box-sizing: border-box;

					text-align: center;

					font-family: $fontSmall;
					font-size: 1.5em;

					transition: border-bottom 0.4s;
				}
			}
		}
	}

	.wish-end {
		height: 80%;
		
		display: flex;

		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		.text {
			font-family: $fontBig;
			font-size: 4em;
			text-align: center;
			color: $primary-text-color;
		}

		.instaWish {
			display: flex;

			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			width: 400px !important;
			height: 400px !important;
			overflow:hidden;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			color: white;
			z-index: -50;

			font-family: arial, sans-serif;

			h1 {
				word-wrap: break-word;
				width: 80%;
				text-align: center;
				font-family: $fontBig;
			}

			h3 {
				text-align: right;
				width: 80%;
				font-family: $fontSmall;
			}
		}
	}
}