.preset-title{
  text-align: center;
  color:white;
  background-color: rgb(55, 62, 110);
}

.preset-container-inner{
  padding: 15px;
  background-color: #7088cf;
  font-size: 1.5em;
  color:white;
  button{
    background: none;
    border:none;
  }

.choose-preset{
  float:right;
  display:flex;
}

}

.preset-container-inner:nth-child(odd){
  background-color: #4e5f9c;
}
.inputs-new-preset{
  margin-top: 15px;
  background-color: rgb(55, 62, 110);
  padding: 15px;
  form{
    input[type=text],  input[type=number]{

      border: none;
      border-bottom: 4px solid rgb(87, 100, 163);
      padding: 15px;
      margin-top: 15px;
      background: none;
      color:white;
      &:focus {
        outline: none;
      }
      input[type=submit]{

      }
    }
 margin: 0 auto;
    text-align: center;
  }

}

.preset-calibrate{
  background-color: rgb(55, 62, 110);
  text-align: center;
  h1{
    color:white;
  }
}