.upload-image {

}

#upload-image {
  /*  display:none;*/
}

.take-picture-icon {
  filter: invert(100%);
  width: 200px;
  cursor: pointer;
  &:hover {
    animation-name: picture-hover;
    animation-duration: 0.5s;
  }
}

@keyframes picture-hover {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}

.polaroid {
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  -webkit-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  width: 400px;
  transition: 0.5s;
  padding: 25px;
  padding-bottom: 100px;

  div {
    width: 350px;
    max-height: 450px;
    overflow: hidden;

  }
  img {
    width: 350px;
  }
}

.polaroid-big {
  background-color: #fafafa;
  position: relative;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
  -webkit-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  width: 550px;
  transition: 0.5s;
  padding: 25px;
  padding-bottom: 100px;

  div.inner-polaroid {
    width: 500px;
    max-height: 550px;
    overflow: hidden;

  }
  img {
    width: 500px;
  }
}

.settings-area {
  width: 550px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.ui-icon-gripsmall-diagonal-se {
  right: -15px !important;
  bottom: -15px !important;
}

.polaroid-taken {

  animation-name: picture-taken;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dynamic-text-main {
  min-width: 50px;
  min-height: 50px;
  top: 25px;
  left: 25px;
  position: absolute !important;
  border: 4px dashed rgb(189, 189, 189);;
  color: white;
  overflow: visible;
}

.dynamic-text-footer {
  min-width: 50px;
  min-height: 50px;
  left: 80%;
  top: 70%;
  position: absolute !important;
  border: 4px dashed rgb(189, 189, 189);;
  color: white;
}

@keyframes picture-taken {
  0% {
    -webkit-transform: rotate(0deg) scale(1.2); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg) scale(1.2); /* IE 9 */
    transform: rotate(0deg) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(-10deg) scale(1); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(-10deg) scale(1); /* IE 9 */
    transform: rotate(-10deg) scale(1);
    opacity: 1;
  }
}

.confirmation-img {
  width: 300px;
  margin: 0 auto;
  h2 {
    width: 100%;
    text-align: center;
    color:white;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
}

.seperation-line {
  margin-top: 15px;
  margin-bottom: 50px;
  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid rgb(87, 100, 163);
    line-height: 0em;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0 20px;
    color:white;

  }
  h2 span {

    background: rgb(87, 100, 163);
    padding: 15px;
    border-radius: 50%;
  }
}

.mySlides {
  background-color: #fafafa;
  max-width: 300px;
  padding: 25px;
  -webkit-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  cursor: pointer;

}

.slideShow {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    color:white;
    border: none;
    font-size: 3em;
    background: none;

  }
}
@media (min-width: 501px) and (max-width: 768px){
  .step-wrapper{
    margin-right: 5px;
    margin-left: 5px
  }
  .options-content-name p:first-child{
    margin: 0;

  }
}
@media screen and (max-width: 500px) {
  .settings-area{
    width: 100%;
  }
  .inner-polaroid{
    width: 270px !important;
  }
  .polaroid-big{
    padding-bottom: 50px;
    width: 320px;
    div.inner-polaroid{
      width: 270px;
      max-height: 290px;

    }
    img{
      width: 270px

    }
  }
  .step-wrapper{
    margin-right: 5px;
    margin-left: 5px
  }
  .mySlides {
    max-width: 200px;
  }
  #take-picture-icon {
    width: 150px;
  }
  .slideShow {
    width: 100%;
  }
  .polaroid {

    width: 300px;
    transition: 0.5s;
    padding: 25px;
    padding-bottom: 100px;

    div {
      width: 250px;
      max-height: 350px;
      overflow: hidden;

    }
    img {
      width: 250px;
    }
  }
}

#upload-image {
  display: none;
}

#take-picture-icon {
  margin: 0 auto;
}

.center-wrapper {
  display: flex;
  align-items: center
}

.loading-overlay {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);

  padding-top: 25px;
  border-radius: 50%;
  div {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
  }
  width: 150px;
  height: 150px;

  img {
    width: 25px;
  }
}

//filter stuff

.options-wrapper-wish, .options-wrapper-name {
  width: 100%;
  margin: 0;
  padding: 0;
  p {
    padding: 5px;
    margin-bottom: 0;
    color: white;
    background-color: rgb(55, 62, 110);
    width: 100%;
    span {
      float: right;
    }
  }
  cursor: pointer;
}
.options-content-wish, .options-content-name{
  color:white;

  border-left: 1px solid rgb(55, 62, 110);
  border-right: 1px solid rgb(55, 62, 110);
  border-bottom: 1px solid rgb(55, 62, 110);
  padding-bottom: 25px;
  padding-top: 15px;
}
.options{
  color:white;


}
.hidden {
  display: none;
}

#nameTextColor, #wishTextColor, #nameTextAlign, #wishTextAlign, #wishTextFont, #nameTextFont {
  padding: 0;
  width: 100%;
  height: 30px;
}

#nameTextAlign, #wishTextAlign, #wishTextFont, #nameTextFont {
  padding: 5px;
}

#mainText, #footerText {

}

// form wish

.form-control {
  width: 100%;
  border: none;
  border-bottom: 4px solid rgb(87, 100, 163);
  padding: 15px;
  margin-top: 15px;
  background: none;
  color:white;
  &:focus {
    outline: none;
  }

}

.submit-wish {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  padding: 25px;
  border: none;
  background-color: rgb(87, 100, 163);
  color: white;
  font-weight: bold;
  font-size: 35px;
}

//steps

.step-wrapper{
  background-color: rgba(0, 0, 0, 0.51);
  border: 2px solid rgb(0, 0, 0);
  -webkit-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 13px 32px -5px rgba(0, 0, 0, 0.33);
  border-radius: 15px;
  padding: 15px;
  margin-top: 35px;
  margin-bottom: 65px;
  display:flex;
  justify-content: space-between;
  .step-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .step-number{
    background:  rgb(87, 100, 163);
    color:white;
    font-weight: bold;
    width: 50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .step-title{
    color:white;
    font-weight: bold;
    padding: 5px;
  }

}

.title-theme-1{
  background-color: rgb(55, 62, 110);
  margin-top: 25px;
  margin-bottom: 25px;
}

.default-margin{
  margin-bottom: 35px;
}

.btn-theme-1{
  background-color: rgb(87, 100, 163);
  border:none;
  padding: 15px;
  color:white;
  font-weight: bold;
  min-width: 80px;
  border: 4px solid  rgb(87, 100, 163);

}

select{
  color:black;
}

.overflowVisible{
  overflow:visible !important;
}

.cookieError{
 text-align: center;
  div{
    color:white;
    margin-bottom: 30px;
  }
}

.endImage{
/*  transition: 1s;*/
}



